@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef2f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.category-post-content {
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-post-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 700;
}

.category-post-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-post-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.category-post-button.selected {
  background-color: #007bff;
  color: white;
}

.category-posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 한 줄에 3개씩 나타나도록 설정 */
  gap: 20px;
}

.category-post-card {
  border: 1px solid #ddd;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.category-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* 요소들이 한 줄에 강제로 위치하도록 설정 */
}

.category-post-title {
  flex-grow: 1; /* 제목이 남은 공간을 차지하도록 설정 */
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px; /* 제목과 유형 간의 간격 설정 */
}

.category-post-type {
  flex-shrink: 0; /* 유형이 줄어들지 않도록 설정 */
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  white-space: nowrap; /* 유형 텍스트가 줄 바꿈되지 않도록 설정 */
}

.category-post-free {
  background-color: #d4edda;
  color: #155724;
}

.category-post-paid {
  background-color: #f8d7da;
  color: #721c24;
}

.category-post-preview {
  margin-top: 10px;
  font-size: 1em;
}

.category-post-author {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px; /* 좌하단에 배치 */
  left: 10px;   /* 좌하단에 배치 */
}

.category-post-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.category-post-date-price {
  position: absolute;
  bottom: 10px; /* 우하단에 배치 */
  right: 10px;  /* 우하단에 배치 */
  text-align: right;
}

.category-post-date,
.category-post-price {
  color: gray;
  font-size: 0.9em;
}
