.edit-profile-container {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.additional-links-edit { /* 고유한 클래스 이름으로 변경 */
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column; /* 세로 정렬을 위한 수정 */
}

.additional-links-edit p { /* 고유한 클래스 이름으로 변경 */
  margin: 5px 0;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.save-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 20px;
  color: green;
}
