@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef2f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* 반응형 그리드 */
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 제목과 버튼 사이의 간격 추가 */
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 700;
  white-space: nowrap; /* 줄바꿈 방지 */
}

.button-group {
  display: flex;
  gap: 5px; /* 버튼 사이의 간격 */
}

.button-group button {
  padding: 5px 10px;
  margin: 0;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
}

.post-card,
.series-card {
  background: white;
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.post-card:hover,
.series-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.post-info,
.series-info {
  display: flex;
  flex-direction: column;
}

.post-title,
.series-title {
  font-size: 1.5em;
  font-weight: 500;
  color: #007bff;
  margin-bottom: 10px;
}

.post-description,
.series-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

.post-author,
.post-date,
.post-price {
  font-size: 0.9em;
  color: #999;
  text-align: right;
  margin-top: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 15px;
  margin: 0 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: default;
}

.pagination span {
  font-size: 16px;
  color: #333;
}
