@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef2f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-template-rows: auto 1fr auto; /* 추가: 마지막 행에 페이지네이션 위치 */
}

.mainheader {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.button-group {
  display: flex;
  gap: 5px; /* 버튼 사이의 간격 */
}

.button-group button {
  padding: 5px 10px;
  margin: 0;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
}

.series-card {
  background: white;
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.post-card {
  background: white;
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  position: relative; /* 위치 상대 설정 */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.post-card:hover,
.series-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.series-info {
  display: flex;
  flex-direction: column;
}
.post-info > div {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


.post-title,
.series-title {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.post-description,
.series-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post-author,
.post-date,
.post-price {
  font-size: 0.9em;
  color: #999;
  text-align: right;
  margin-top: auto;
}

/* 아이콘 컨테이너: 유료/무료와 구매한 포스트 아이콘을 함께 배치 */
.icon-container {
  position: absolute;
  top: 10px; /* 상단에서 10px 떨어진 위치 */
  right: 10px; /* 우측에서 10px 떨어진 위치 */
  display: flex;
  gap: 5px; /* 아이콘 간 간격 */
}

/* 유료/무료 아이콘 */
.post-type {
  font-weight: bold;
  padding: 5px 10px;
  background-color: #f0f8ff; /* 배경 반투명 검은색 */
  color: white;
  border-radius: 5px;
}

.post-free {
  background-color: #d4edda;
  color: #155724;
}

.post-paid {
  background-color: #f8d7da;
  color: #721c24;
}
/* 구매한 포스트 아이콘 */
.post-purchased {
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ffa500; /* 구매한 포스트를 위한 주황색 배경 */
  color: white;
  border-radius: 5px;
}
