.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  color: #333;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.loading {
  text-align: center;
  color: #666;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
}

.date {
  font-size: 14px;
  color: #999;
}

.amount {
  font-size: 14px;
  margin-left: 15px;
  font-weight: bold;
}

.description {
  font-weight: bold; /* 설명 텍스트 강조 */
}
.amount.income {
  color: green;
}

.amount.outgoing {
  color: red;
}

.type {
  font-size: 14px;
  color: #333;
}
