.recover-password-container {
  max-width: 500px;
  margin: 150px auto; /* 상단 여백을 추가하여 컨테이너를 아래로 내립니다 */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recover-password-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.recover-password-form {
  display: flex;
  flex-direction: column;
}

.recover-password-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.recover-password-label {
  flex-basis: 120px; /* 레이블의 고정 너비 설정 */
  font-size: 16px;
  margin-right: 10px;
  text-align: center; /* 레이블의 글씨를 수평 가운데 정렬 */
  line-height: 1.5em; /* 레이블의 수직 가운데 정렬을 위한 높이 설정 */
}

.recover-password-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.recover-password-button {
  margin-left: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 110px; /* 버튼 너비를 줄여서 고정 */
  text-align: center;
}

.recover-password-button:hover {
  background-color: #0056b3;
}

.recover-password-submit-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.recover-password-submit-button:hover {
  background-color: #0056b3;
}
